.react-flow__nodesselection-rect {
  display: none;
}

.react-flow__node.selected {
  box-shadow: 0 0 0 1px #1a192b;
}

.vp-editor {
  width: 100%;
  height: 100%;
  font-size: var(--vp-ui-font-size0);
}

.node-drawer-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  transition: width 0.3s;
}

.drawer-handle:hover {
  background-color: #aaa;
}