.react-flow__nodesselection-rect {
  display: none;
}

.react-flow__node.selected {
  box-shadow: 0 0 0 1px #1a192b;
}

.vp-editor {
  width: 100%;
  height: 100%;
  font-size: var(--vp-ui-font-size0);
}

.node-drawer-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  transition: width 0.3s;
}

.drawer-handle:hover {
  background-color: #aaa;
}

.drawer-handle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  z-index: 1;
}