.react-flow__node-function {
  font-size: 10px;
  width: 180px;
  background: #f5f5f6f0;
  color: #222;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
  border-radius: 2px;
}

.react-flow__node-function .react-flow__handle {
  top: 24px;
  right: -15px;
  width: 6px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.function-node__header {
  padding: 8px 10px;
  border-bottom: 1px solid #e2e8f0;
}

.function-node__body {
  padding: 10px;
}

.custom-node__handle {
  position: relative;
  margin-bottom: 10px;
}
