.math-node__input-handles {
  min-width: 100px;
  float: left;
  min-height: 20px;
}

.math-node__body {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.math-node__header {
  padding-left: 4px;
  padding-right: 10px;
  text-align: center;
}

.math-node__body .handle-widget {
  margin-left: 10px;
}
