.react-flow__node-reroute {
  height: 10px;
}

.react-flow__node-reroute .target-handle {
  width: 10px;
  float: left;
  height: 10px;
}

.react-flow__node-reroute .source-handle {
  width: 10px;
  float: right;
  height: 10px;
}

.react-flow__node-reroute .react-flow__handle-left {
  left: 0 !important;
}

.react-flow__node-reroute .react-flow__handle-right {
  right: 0 !important;
}
