.setter-node__header {
  padding: 8px 10px;
  text-align: center;
  border-bottom: 1px solid #e2e8f0;
}

.react-flow__node-setter .target-handle {
  min-width: 100px;
  float: left;
  min-height: 20px;
}

.react-flow__node-setter .source-handle {
  min-width: 50px;
  float: right;
  min-height: 20px;
}
