:root {
  --vp-node-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%),
    0 2px 4px -1px rgb(0 0 0 / 8%);
  --vp-node-background-color: #f5f5f6f0;
  --vp-node-font-color: #222;
  --vp-node-font-size: 13px;
  --vp-node-handles-container-gap: 5px;

  --vp-node-header-padding: 8px 10px;
  --vp-node-header-bottom-border: 1px solid #e2e8f0;

  --vp-node-body-padding: 10px 0;
  --vp-node-body-gap: 20px;
}

.vp-node-container {
  width: 100%;
}

.vp-node-handles-container {
  display: flex;
  flex-direction: column;
  gap: var(--vp-node-handles-container-gap);
}

.node__header {
  padding: var(--vp-node-header-padding);
  border-bottom: var(--vp-node-header-bottom-border);
}

.node__body {
  padding: var(--vp-node-body-padding);
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: var(--vp-node-body-gap);
}

.react-flow__node {
  font-size: var(--vp-node-font-size);
  background: var(--vp-node-background-color);
  color: var(--vp-node-font-color);
  box-shadow: var(--vp-node-box-shadow);
}
