:root {
  /* Borders */
  --vp-node-border-radius: var(--vp-border-radius);
  --vp-node-border-width: var(--vp-border-width);
  --vp-node-border-color: var(--vp-border-color);

  /* Shadow */
  --vp-node-box-shadow: var(--vp-box-shadow);

  /* Layout Colors */
  --vp-node-background-color-lightgrey: var(--vp-background-color-lightgrey);

  /* UI Fonts */
  --vp-node-font-color-black: var(--vp-ui-font-color-black);
  --vp-node-font-size1: var(--vp-ui-font-size1);
  --vp-node-font-family: var(--vp-ui-font-family);

  /*Icon*/
  --vp-node-icon-size: var(--vp-icon-size);
  --vp-node-icon-color-black: var(--vp-icon-color-black);

  /*******Following is module-specific CSS. ********/

  /* Node Handle */
  --vp-node-handles-container-gap: 5px;

  /* Node Header */
  --vp-node-header-padding: 8px 10px;
  --vp-node-header-bottom-border: var(--vp-node-border-width) solid
    var(--vp-node-border-color) !important;

  /*Node Body */
  --vp-node-body-padding: 10px 0;
  --vp-node-body-gap: 20px;
}

.vp-node-container {
  width: 100%;
}

.vp-node-handles-container {
  display: flex;
  flex-direction: column;
  gap: var(--vp-node-handles-container-gap);
}

.node__header {
  padding: var(--vp-node-header-padding);
  border-bottom: var(--vp-node-header-bottom-border);
}

.node__body {
  padding: var(--vp-node-body-padding);
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.react-flow__node {
  font-size: var(--vp-node-font-size1);
  font-family: var(--vp-node-font-family);
  background-color: var(--vp-node-background-color-lightgrey);
  color: var(--vp-node-font-color-black);
  box-shadow: var(--vp-node-box-shadow);
  border-radius: var(--vp-node-border-radius);
  border-width: var(--vp-node-border-width) !important;
  border-style: solid !important;
  border-color: var(--vp-node-border-color) !important;
}
