.literal-node__header {
  text-align: center;
}

.react-flow__node-literal .target-handle {
  min-width: 100px;
  float: left;
  min-height: 20px;
}

.react-flow__node-literal .source-handle {
  min-width: 50px;
  float: right;
  min-height: 20px;
  padding-left: 20px;
}
