.react-flow__node-stickyNote {
  background: hsla(240, 5%, 96%, 0.78) !important;
  border-style: solid;
  border-width: 1px;
}

.react-flow__node-stickyNote .node__body {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.react-flow__node-stickyNote .stickyNote__node__body--enabled {
  min-width: 120px;
  min-height: 120px;
}
