.react-flow__node-stickyNote {
  background: hsla(240, 5%, 96%, 0.78) !important;
  border-style: solid;
  border-width: 0px;
}

.react-flow__node-stickyNote .node__body {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.react-flow__node-stickyNote .stickyNote__node__body--enabled {
  min-width: 120px;
  min-height: 120px;
  padding-right: 4px !important;
}

.color-picker-button {
  float: right;
  width: 18px;
  height: 18px;
  margin-top: 4px;
  margin-right: 4px;
}

.pin-button {
  float: right;
  border: none;
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  margin-top: 5px;
}
