.react-flow__node-stickyNote {
  background: var(--vp-node-background-color-lightgrey);
  border-style: solid;
  border-width: 0px;
}

.react-flow__node-stickyNote .stickyNote__node__body--enabled {
  min-width: 120px;
  min-height: 20px;
}
.stickyNote__node-container {
  min-height: 150px;
  min-width: 150px;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-color-swatch {
  border: none;
}
