.source-handle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
}

.target-handle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  height: 20px;
}

.target-handle .react-flow__handle {
  width: 8px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.source-handle .react-flow__handle {
  width: 8px;
  height: 10px;
  border-radius: 2px;
  background-color: #778899;
}

.handle-widget {
  max-width: 80px;
}

input.float[type='number']::-webkit-outer-spin-button,
input.float[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
