:root {
  --vp-handle-background-color: var(--vp-ui-font-color-greyblue);
  --vp-handle-border-radius: 2px;
  --vp-handle-panel-height: 20px;

  --vp-handle-point-width: 8px;
  --vp-handle-point-height: 10px;
}

.source-handle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--vp-handle-panel-height);
}

.target-handle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  height: var(--vp-handle-panel-height);
}

.target-handle .react-flow__handle {
  width: var(--vp-handle-point-width);
  height: var(--vp-handle-point-height);
  border-radius: var(--vp-handle-border-radius);
  background-color: var(--vp-handle-background-color);
}

.source-handle .react-flow__handle {
  width: var(--vp-handle-point-width);
  height: var(--vp-handle-point-height);
  border-radius: var(--vp-handle-border-radius);
  background-color: var(--vp-handle-background-color);
}

.handle-widget {
  max-width: 80px;
}

input.float[type='number']::-webkit-outer-spin-button,
input.float[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
