:root {
  --vp-handle-background-color: var(--vp-ui-font-color-greyblue);
  --vp-handle-border-radius: 2px;
  --vp-handle-panel-height: 20px;
  --vp-handle-border-width: 2px;

  --vp-handle-point-width: 8px;
  --vp-handle-point-height: 10px;
}

.source-handle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--vp-handle-panel-height);
  padding-right: 10px;
}

.target-handle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  height: var(--vp-handle-panel-height);
  padding-left: 10px;
}

.target-handle .react-flow__handle,
.source-handle .react-flow__handle,
.parameter-handle .react-flow__handle,
.handle_connected {
  width: var(--vp-handle-point-width);
  height: var(--vp-handle-point-height);
  border-radius: var(--vp-handle-border-radius);
  background-color: var(--vp-handle-background-color);
  border: var(--vp-handle-border-width) solid;
  border-color: transparent;
}

.vp-rc-handle-exec {
  clip-path: polygon(0% 0%, 40% 0%, 100% 50%, 40% 100%, 0% 100%);
}

.vp-rc-handle-exec::before {
  content: '';
  position: absolute;
  top: 0px;
  right: -2px;
  bottom: 0px;
  left: 0px;
  clip-path: polygon(26% 0, 51% 0, 100% 50%, 52% 100%, 29% 100%, 76% 51%);
  border: 4px solid;
  border-color: inherit !important;
}

.handle_not_connected {
  background-color: transparent !important;
}

.handle-widget {
  max-width: 100px;
}

input.float[type='number']::-webkit-outer-spin-button,
input.float[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
