:root {
  --vp-menu-panel-radius: 0px;

  --vp-menulist-top-padding: 0px !important;
  --vp-menulist-bottom-padding: 0px !important;
  --vp-menulist-margin: 6px !important;

  --vp-menuitem-padding: 0px !important;
  --vp-menuitem-shortcut-right-padding: 8px;
}

.VP_MenuList {
  padding-top: var(--vp-menulist-top-padding);
  padding-bottom: var(--vp-menulist-bottom-padding);
  margin: var(--vp-menulist-margin);
}

.VP_MenuItem {
  padding: var(--vp-menuitem-padding);
}

.VP_MenuItem_Shortcut {
  padding-right: var(--vp-menuitem-shortcut-right-padding);
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  pointer-events: none;
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  pointer-events: auto !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: var(--vp-menulist-top-padding);
  padding-bottom: var(--vp-menulist-bottom-padding);
}

.MuiPaper-root.MuiMenu-paper {
  border-radius: var(--vp-menu-panel-radius);
}
