/* The following CSS variables define the main, public API for styling VisualProgrammingEditor.
These variables should be used by all plugins wherever possible. In other
words, plugins should not define custom colors, sizes, etc unless absolutely
necessary. This enables users to change the visual theme of VisualProgrammingEditor
by changing these variables. */

html,
body,
#root {
  /* Borders */
  --vp-border-radius: 0px;
  --vp-border-width: 1px;
  --vp-border-color: #e0e0e0; /* Alternative value #e2e8f0; */

  /* Shadow */
  --vp-box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%),
    0 2px 4px -1px rgb(0 0 0 / 8%);
  --vp-box-shadow-dark: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  /* Layout Colors */
  --vp-background-color-lightgrey: #f5f5f6f0;
  --vp-background-color-white: #fff;
  --vp-hover-background-color: #f5f5f6f0;

  /* UI Fonts */
  --vp-ui-font-family: 'Roboto', 'sans-serif';
  --vp-ui-font-size0: 10px; /* Base font size, 10px = 1rem */
  --vp-ui-font-size1: 1.25rem; /* Used by  */
  --vp-ui-font-size2: 1.5rem;
  --vp-ui-font-size3: 1.7rem;
  --vp-ui-font-color-black: #222;
  --vp-ui-font-color-grey: #0000008a;
  --vp-ui-font-color-darkgrey: #000000de;
  --vp-ui-font-color-blue: #1976d2;

  /*Icon*/
  --vp-icon-size: 1.8rem;
  --vp-icon-color: var(--vp-ui-font-color-grey);

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--vp-ui-font-family);
  font-size: var(--vp-ui-font-size0);
}
